body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-main{
  color: #9f5bff !important;
}
.my-btn {
  background-color:#9f5bff !important;
  color: white !important;
}
.my-card-hover:hover {
  box-shadow: 0 4px 12px rgba(159, 91, 255, 0.6); /* purple glow */

  transition: box-shadow 0.3s ease-in-out;
}

/* .primary-btn:hover{
  color: ;
} */